# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.OOP_coursework.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\dotnet\OOP_coursework\.idea\.idea.OOP_coursework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
